<app-header [links]="links"></app-header>
<section>
    <div class="intro">
        <h1>e-KAROKA KANDRA</h1>
        
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, illo beatae, molestiae ducimus optio sint ex deleniti exercitationem perspiciatis vero officia placeat omnis, excepturi neque adipisci suscipit tempora quis fugiat.
            Alias, inventore sequi distinctio aperiam nostrum quam tempora quia illo ipsa perferendis minus laborum? Minus mollitia similique dolore aut est eligendi. Dolorum magni perspiciatis molestias recusandae temporibus ducimus possimus eveniet.
        </p>
    
        <button
            routerLink="/auth/inscription"
            class="light-btn"
        >
            S'inscrire pour trouver un emplois
        </button>
    </div>

    <div class="introSociete">
        <h1>Pour les sociétés</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia possimus at dolorem optio et dolore laborum consequatur libero illum quisquam? Magnam eos consectetur modi unde autem? Vitae earum excepturi odit.
            asperiores maxime voluptatibus? Temporibus, cumque rerum perspiciatis culpa vel corporis voluptatum amet labore facere, sunt incidunt quia consectetur dolore consequatur optio voluptate.
        </p>
        <button 
            class="light-btn"
            routerLink="/auth/login/loginsociete"
        >
            S'inscrire en tant qu'entreprise
        </button>
    </div>
</section>

