<div class="inscription">
    <p>
        Etes-vous une personne en recherche d'emplois ou une entreprise qui veut
        publier des offres d'emplois ?
    </p>
    <div class="bouton">
        <button 
            class="light-btn"
            routerLink="/auth/inscription/inscription-user"
        >
            Je suis en recherche d'un emplois
        </button>
        <button 
            class="light-btn margin-left"
            routerLink="/auth/inscription/inscription-entreprise"
        >
            Nous sommes une entreprise
        </button>
    </div>
</div>